%h1
  = invoice.reference
  = invoice.sent_at || invoice.created_at
  = '(unsent)' if not invoice.issued?

.invoice_details
  %p
    Client:
    = client.name
  %p
    Currency:
    = invoice.currency.upcase

%table#data_table
  %thead
    %tr
      %th
        Items
        = "(#{link_to 'add new', new_client_invoice_invoice_item_path(client, invoice)})".html_safe if not invoice.issued?
      %th Amount
  
  %tbody= render partial: 'invoice_items/list', collection: invoice.items, as: :invoice_item
  
  %tfoot
    %tr
      %td{style: 'text-align:right'}= "Total (#{invoice.currency.upcase})"
      %td= invoice.total
