%tr
  %td= client.name
  %td= client.invoices.last.try(:created_at)
  %td
    = link_to 'Show invoices', client_invoices_path(client), id: "client_list_action_#{client.id}_show_invoices", title: "Show list of client's invoices"
    = link_to 'New invoice', new_client_invoice_path(client), title: 'Create new invoice for client'