%h1= client.name

%p= "Email: #{client.email}"

%p
  = link_to 'Edit', edit_client_path(client)
  = link_to 'Show invoices', client_invoices_path(client)
  = link_to 'New invoice', new_client_invoice_path(client)