!!! 5
%head
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body{ :class => "#{controller.controller_name} main" }
  #mainwrap
    %header
      - if not Rails.env.production?
        %div{style:'background:red;color:white;padding:1em;text-align:center'} TEST MODE
      %p= "Logged in as '#{current_user.name}'"
      Jim's Jams and Marmalades
    = yield
