!!! 5
%head
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body{ :class => "#{controller.controller_name} main" }
  #mainwrap
    %header
      %p= "Logged in as '#{current_user.name}'"
      Jim's Jams and Marmalades
    = yield
