!!! 5
%head
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  #mainwrap
    %header
      - if not Rails.env.production?
        %div{style:'background:red;color:white;padding:1em;text-align:center'} TEST MODE
      %p= "Logged in as '#{current_user.name}'"
      = link_to "Jim's Jams and Marmalades", root_path
    
    - if flash.any?
      - flash.each do |type, message|
        .flash{id: "flash_#{type}"}
          %p= message
    
    = yield
